<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Lovers</title>

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Movie Lovers</h1>

        <p>The movie guessing game.</p>

        <form action="/game" method="get">
            <label for="title">Give me a word to search for:</label>
            <input type="search" name="title" id="title">
        </form>
    </body>
</html>
