<h1> Todo List App </h1>

<h2> Add a new task </h2>

<form action="/create_task" method="post">
  <input type="text" name="task_content"
      placeholder="Buy milk">

  <button type="submit">
    Add task
  </button>
</form>
