<link rel="stylesheet" href="/app.css">

<h1>Home page </h1>

<img src="/dramatic_glasses.gif" alt="Cool kid with glasses">

<a href="/about">
  About
</a>

<h2>Session:</h2>

<pre>
  <%= @session_info %>
</pre>
