<h1> Nizar's Crazy T-Shirt Shop </h1>

<h3>You have <%= @amount_in_cart %> shirts in your cart</h3>

<ul>
  <% @tshirts.each_with_index do |one_shirt, i| %>
    <li>
      <a href="/tshirts/<%= i %>">
        <h2> <%= one_shirt.name %> </h2>
        <img src="<%= one_shirt.picture_url %>" width="200" >
      </a>
    </li>
  <% end %>
</ul>
